html,body
{
    margin: 0;
    font-family: Arial helvetica sans-serif;
    height: 100%;
}

.topnav
{
    overflow: hidden;
    background-color: darkblue;
}

.topnav a
{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover
{
    background-color: #DDD;
color: black;
    
}

.content
{
 margin: 4% 10% 4% 10%;
 height: 100%;
font-size: 16px;
}

.footer
{
    padding:5px 5px 5px 5px;
    background-color: darkblue;
    color: white;
    font-size: 20px;
}

/* style for the gallery */

div.gallery
{
 margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 200px;
}


div.gallery:hover
{
border: 1pz solid #777;
}

div.gallery img
{
    width: 100%;
    height: 200px;
}

div.desc
{
 padding: 15px;
    text-align: center;
}

div.ccard
{
  margin: 10% 30% 30% 30%;
   width: 300px;
height: 200px;
    border: 1px solid darkblue;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    font: 10px;
    color: black;
    background-color: grey;
}


















